/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./assets/styles/variables";

body {
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
}

.page {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.image {
  max-width: 500px;
}
