.mat-button {
  padding: 0;
}

.slide-container {
  position: relative;
  margin: auto;
  border-radius: 5px;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.slide-contents {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.prev-arrow {
  position: absolute;
  width: 36px;
  height: calc(100% - 150px);
  left: 0;
  top: 50px;
  bottom: 0;
  color: white;
}

.next-arrow {
  position: absolute;
  width: 36px;
  height: calc(100% - 150px);
  right: 0;
  top: 50px;
  bottom: 0;
  color: white;
}

.carousel-title {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.carousel-overlay {
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
