<div class="slide-container">
  <div
    class="slide-contents"
    [ngStyle]="{
      'background-image': 'url(' + homeService.getImageUrl(slide.content_image, configBaseURL$ | async) + ')'
    }"
  ></div>
  <app-carousel-title class="carousel-title" [title]="slide.title"></app-carousel-title>
  <app-carousel-overlay class="carousel-overlay" [overlay]="slide.overlay"></app-carousel-overlay>
  <button mat-button class="prev-arrow" (click)="goToPrevious()"><mat-icon>chevron_left</mat-icon></button>
  <button mat-button class="next-arrow" (click)="goToNext()"><mat-icon>chevron_right</mat-icon></button>
</div>
