<mat-card class="page">
  <mat-card-title>{{ (movie$ | async)?.title }} Details</mat-card-title>
  <mat-card-actions>
    <div class="backBtn-container">
      <button
        *ngIf="historyData && historyData.comingFrom === 'search'"
        class="backBtn"
        mat-raised-button
        (click)="back()"
      >
        Back to Search
      </button>
      <button *ngIf="!historyData" class="backBtn" mat-raised-button (click)="back()">
        Go to Search
      </button>
    </div>
    <app-collection-button [type]="'movie'" [id]="(movie$ | async)?.id"></app-collection-button>
  </mat-card-actions>
  <mat-card-content class="table">
    <div class="half">
      <div class="movie-poster">
        <h4>Movie Poster</h4>
        <img *ngIf="posterImage$ | async" src="{{ posterImage$ | async }}" class="poster-image image" />
        <div *ngIf="!(posterImage$ | async)">No image found</div>
      </div>
      <div class="background-image">
        <h4>Background Image</h4>
        <img *ngIf="backgroundImage$ | async" src="{{ backgroundImage$ | async }}" class="bg-image image" />
        <div *ngIf="!(backgroundImage$ | async)">No image found</div>
      </div>
    </div>
    <div class="half">
      <div class="overview">
        <h4>Overview</h4>
        {{ (movie$ | async)?.overview }}
      </div>
      <div class="table">
        <div class="left">
          <div class="release-date">
            <h4>Release Date</h4>
            {{ (movie$ | async)?.release_date | date: 'longDate' }}
          </div>
          <div class="genres">
            <h4>Genres</h4>
            <div class="table">
              <span *ngFor="let genre of (movie$ | async)?.genres">{{ genre.name }}</span>
            </div>
          </div>
          <div class="budget">
            <h4>Budget</h4>
            {{ (movie$ | async)?.budget | currency: 'USD':'symbol':'1.2-2' }}
          </div>
          <div class="revenue">
            <h4>Revenue</h4>
            {{ (movie$ | async)?.revenue | currency: 'USD':'symbol':'1.2-2' }}
          </div>
          <div class="runtime">
            <h4>Run-Time</h4>
            {{ (movie$ | async)?.runtime }}&nbsp;mins
          </div>
          <div class="popularity">
            <h4>Popularity</h4>
            {{ (movie$ | async)?.popularity }}
          </div>
          <div class="vote-average">
            <h4>Vote Average</h4>
            {{ (movie$ | async)?.vote_average }}&nbsp;/&nbsp;10
          </div>
        </div>
        <div class="right">
          <h4>Production Companies</h4>
          <div class="table">
            <mat-card *ngFor="let company of (movie$ | async)?.production_companies">
              <mat-card-title>{{ company.name }}</mat-card-title>
              <mat-card-content>
                <div class="origin-country">
                  <b>Country of Origin</b><br />
                  {{ company.origin_country ? company.origin_country : 'No country listed' }}
                </div>
                <div class="logo-path">
                  <b>Logo</b><br />
                  <img
                    *ngIf="company.logo_path !== null"
                    src="{{ getImageUrl(company.logo_path, configBaseURL$ | async) }}"
                    alt="{{ company.name }}"
                    class="logo"
                  />
                  <span *ngIf="company.logo_path === null">No Logo Listed</span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
