.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  & > .left {
    float: left;
  }

  & > .right {
    float: right;
  }
}

.half {
  padding: 20px;
  text-align: left;
}

.overview > h4,
.movie-poster > h4,
.background-image > h4 {
  margin-top: 0px;
}

.movie-poster,
.background-image {
  float: left;
  width: 50%;
  height: 100%;
}

.poster-image {
  max-height: 500px;
  text-align: center;
}

.bg-image {
  max-width: 100%;
}

.logo {
  max-width: 130px;
  margin-top: 10px;
}

mat-card-actions.mat-card-actions > div {
  display: inline-block;
}

.backBtn-container {
  float: left;
  padding-left: 28px;
}
