.mat-dialog-content {
  padding-left: 25px;
  padding-right: 25px;
}

.mat-dialog-actions > button.mat-button {
  flex: 1;
}

.mat-form-field {
  display: inline;
}

.close {
  float: right;
  margin-top: -8px;
}
