<button mat-icon-button class="close" (click)="close()" aria-label="Close">
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>
  Sign In
</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label for="username">Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="password">Password</mat-label>
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error *ngIf="formGroup.hasError('submitFail')"
      >Sorry, there was a problem submitting your log in information, please try again.</mat-error
    >
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [color]="'primary'" (click)="submit()" cdkFocusInitial [disabled]="!formGroup.valid">
    Sign In
  </button>
  <button mat-raised-button [color]="'warn'" (click)="close()">Cancel</button>
</div>
