<mat-card class="page">
  <mat-card-title>
    Registration
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="formGroup" class="registration-form">
      <mat-form-field>
        <mat-label for="firstname">First Name</mat-label>
        <input matInput formControlName="firstname" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="lastname">Last Name</mat-label>
        <input matInput formControlName="lastname" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input matInput formControlName="username" />
        <mat-icon
          *ngIf="usernameValid === null && !usernameLoading"
          matSuffix
          class="color-gray"
          matTooltip="No username typed in"
          matTooltipPosition="below"
          >not_interested</mat-icon
        >
        <mat-icon
          *ngIf="usernameValid && !usernameLoading"
          matSuffix
          class="color-success"
          matTooltip="Unique username entered"
          matTooltipPosition="below"
          >done</mat-icon
        >
        <mat-icon
          *ngIf="usernameValid === false && !usernameLoading"
          matSuffix
          class="color-error"
          matTooltip="Existing username found!"
          matTooltipPosition="below"
          >close</mat-icon
        >
        <mat-error *ngIf="!usernameValid">Sorry, that username is taken, please try another one.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input matInput formControlName="email" />
        <mat-icon matSuffix></mat-icon>
        <mat-icon
          *ngIf="emailValid === null && !emailLoading && !formGroup.controls.email.dirty"
          matSuffix
          class="color-gray"
          matTooltip="No email typed in"
          matTooltipPosition="below"
          >not_interested</mat-icon
        >
        <mat-icon
          *ngIf="emailValid && formGroup.controls.email.valid && !emailLoading"
          matSuffix
          class="color-success"
          matTooltip="Unique email entered"
          matTooltipPosition="below"
          >done</mat-icon
        >
        <mat-icon
          *ngIf="emailValid === false && !emailLoading"
          matSuffix
          class="color-error"
          matTooltip="Existing email found!"
          matTooltipPosition="below"
          >close</mat-icon
        >
        <mat-icon
          *ngIf="formGroup.controls.email.invalid && formGroup.controls.email.dirty"
          matSuffix
          class="color-error"
          matTooltip="Invalid email entered!"
          matTooltipPosition="below"
          >close</mat-icon
        >
        <mat-error *ngIf="!emailValid">Sorry, we already have that email on file, please try again.</mat-error>
      </mat-form-field>
      <mat-error *ngIf="formGroup.hasError('submitFail')"
        >Sorry, registration failed, possibly because we already have that user on file, please try again.</mat-error
      >
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button [color]="'primary'" (click)="submit()" cdkFocusInitial [disabled]="!formGroup.valid">
      Register
    </button>
    <button mat-raised-button [color]="'warn'" (click)="close()">Cancel</button>
  </mat-card-actions>
</mat-card>
