@import "../../../assets/styles/variables";

.color {
  &-gray {
    color: gray;
  }
  &-success {
    color: #3f3;
  }
  &-error {
    color: red;
  }
}

.page {
  width: 40%;
}

.registration-form {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 20px 10px;
  @media ($desktop) {
    grid-template-columns: 50% 50%;
  }
  & > .mat-form-field {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  & > .mat-form-field:last-child {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.mat-card-title,
.mat-card-content,
.mat-card-actions {
  padding-left: 20%;
  padding-right: 20%;
}
