@import "../../assets/styles/variables";

.container {
  display: grid;
  height: 100%;
  width: 100%;
  @media ($mobile-large) {
    grid-gap: 10px;
    grid-template-columns: 1fr 20%;
  }
}

.container > .page {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  @media ($mobile-large) {
    width: 95%;
  }
}

.upcoming {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  height: calc(100% - 50px);
  text-align: center;
  justify-content: center;
  align-content: center;
  min-height: 100px;
  @media ($mobile-large) {
    min-height: calc(100vh - 134px);
  }
}

.carousel {
  flex: 1;
  min-height: 300px;
  overflow: hidden;
  @media ($mobile-large) {
    min-height: 350px;
  }
  @media ($desktop) {
    min-height: 400px;
  }
  @media ($desktop-large) {
    min-height: 650px;
  }
}

.btn-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  @media ($mobile-large) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.btn:first-child {
  margin-top: 40px;
}

.btn {
  margin: 10px 10px;
  @media ($mobile-large) {
    margin: 40px 10px;
  }
}

.upcoming-container {
  display: flex;
  width: 100%;
  height: calc(100% - 50px);
  flex-direction: column;
  justify-content: space-between;
}

.upcoming-container > div > .mat-card {
  padding: 0;
  color: white;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.upcoming-container > div > .mat-card > .mat-card-content {
  margin-bottom: 0px;
}

.upcoming-container > div > .mat-card > .mat-card-footer {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  padding-bottom: 5px;
  margin: 0 0 -16px 0;
}

.title {
  text-align: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.title > .mat-icon-button {
  float: right;
  margin-top: -15px;
}

.content {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

.upcoming > h4 {
  margin-block-start: 0px;
}
