<div class="container">
  <div class="page">
    <div class="carousel">
      <app-carousel
        *ngIf="(homeService.slides$ | async)?.length > 0"
        [slides]="homeService.slides$ | async"
        [currentSlide]="homeService.currentSlide$ | async"
        (next)="nextSlide($event)"
        (previous)="previousSlide($event)"
        (goToSlide)="goToSlide($event)"
      ></app-carousel>
    </div>
    <div class="btn-container">
      <button *ngIf="!authed" class="loginBtn btn" mat-raised-button [color]="'primary'" (click)="navigateToLogin()">
        Log In
      </button>
      <button
        *ngIf="!authed"
        class="registerBtn btn"
        mat-raised-button
        [color]="'primary'"
        (click)="navigateToRegister()"
      >
        Register
      </button>
      <button *ngIf="authed" class="logoutBtn btn" mat-raised-button [color]="'primary'" (click)="logout()">
        Log Out
      </button>
      <button class="movieTvSearchBtn btn" mat-raised-button [color]="'primary'" (click)="navigateToMorTSearch()">
        Movie / Tv Search
      </button>
      <button class="personSearchBtn btn" mat-raised-button [color]="'primary'" (click)="navigateToPersonSearch()">
        Person Search
      </button>
    </div>
  </div>
  <div class="upcoming">
    <h4>Upcoming Films!</h4>
    <div class="upcoming-container">
      <div *ngFor="let film of homeService.upcomingMovies$ | async; let ind = index">
        <mat-card
          *ngIf="ind < 4"
          [ngStyle]="{
            'background-image': 'url(' + homeService.getImageUrl(film.content_image, configBaseURL$ | async) + ')'
          }"
        >
          <mat-card-content>
            <div class="title">
              {{ film.title
              }}<button mat-icon-button (click)="goToMovieDetails(film.id)"><mat-icon>list_alt</mat-icon></button>
            </div>
            <div class="content">
              {{ film.overlay.content }}
            </div>
          </mat-card-content>
          <!-- #pipe The date pipe used here formats a string date for display, I like the longDate better then the others. -->
          <mat-card-footer>Anticipated Release: {{ film.overlay.release_date | date: 'longDate' }}</mat-card-footer>
        </mat-card>
      </div>
    </div>
  </div>
</div>
