<form [formGroup]="formGroup" class="filters-form">
  <mat-form-field>
    <mat-label for="query">Name</mat-label>
    <input matInput [formControlName]="'query'" />
  </mat-form-field>
</form>
<mat-card-actions>
  <button mat-raised-button [color]="'primary'" (click)="submit()" cdkFocusInitial [disabled]="!formGroup.valid">
    Search
  </button>
</mat-card-actions>
