.tagline-container,
.department-container,
.overview-container {
  padding: 0 16px;
  width: 100%;
  height: calc(100% - (48px * 2));
  display: table;
  background-color: rgba(0, 0, 0, 0.25);
}

.tagline,
.department,
.overview {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

mat-divider.mat-divider {
  margin-top: 10px;
}

.tile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: bolder;
}

button.mat-icon-button {
  float: right;
  margin-left: auto;
}
