<mat-card class="page">
  <mat-card-title>Dashboard</mat-card-title>
  <mat-card-content>
    <h3>My Movie Collection</h3>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
      <div *ngIf="(movieCollection$ | async)?.length > 0">
        <mat-grid-tile
          *ngFor="let item of movieCollection$ | async"
          class="tile"
          [style.backgroundImage]="'url(' + getImageUrl(item.background_image, configBaseURL$ | async) + ')'"
        >
          <mat-grid-tile-header class="title">
            {{ item.title }}
            <!-- Details button here, mat icon button -->
            <button mat-icon-button (click)="goToMovieDetails(item.id)"><mat-icon>list_alt</mat-icon></button>
          </mat-grid-tile-header>
          <div class="tagline-container">
            <span class="tagline">{{ item.tagline }}</span>
          </div>
          <mat-grid-tile-footer class="release-date"
            >Released: {{ item.release_date | date: 'longDate' }}
            <!-- Remove from list button here -->
            <button mat-icon-button (click)="removeMovieFromCollection(item.id)"><mat-icon>block</mat-icon></button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
      <div *ngIf="(movieCollection$ | async)?.length === 0">
        <mat-grid-tile [colspan]="4">
          No movies in your collection
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <h3>My TV Collection</h3>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
      <div *ngIf="(tvCollection$ | async)?.length > 0">
        <mat-grid-tile
          *ngFor="let item of tvCollection$ | async"
          class="tile"
          [style.backgroundImage]="'url(' + getImageUrl(item.background_image, configBaseURL$ | async) + ')'"
        >
          <mat-grid-tile-header class="title">
            {{ item.name }}
            <!-- Details button here, mat icon button -->
            <button mat-icon-button (click)="goToTvDetails(item.id)"><mat-icon>list_alt</mat-icon></button>
          </mat-grid-tile-header>
          <div class="overview-container">
            <span class="overview">{{ shortenString(item.overview) }}</span>
          </div>
          <mat-grid-tile-footer class="release-date"
            >First Aired: {{ item.first_air_date | date: 'longDate' }}
            <!-- Remove from list button here -->
            <button mat-icon-button (click)="removeTvFromCollection(item.id)"><mat-icon>block</mat-icon></button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
      <div *ngIf="(tvCollection$ | async)?.length === 0">
        <mat-grid-tile [colspan]="4">
          No people in your collection
        </mat-grid-tile>
      </div>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <h3>My Person Collection</h3>
    <mat-grid-list cols="4" rowHeight="200px" gutterSize="10px">
      <div *ngIf="(personCollection$ | async)?.length > 0">
        <mat-grid-tile
          *ngFor="let item of personCollection$ | async"
          class="tile"
          [style.backgroundImage]="'url(' + getImageUrl(item.profile_picture, configBaseURL$ | async) + ')'"
        >
          <mat-grid-tile-header class="title">
            {{ item.name }}
            <!-- Details button here, mat icon button -->
            <button mat-icon-button (click)="goToPersonDetails(item.id)"><mat-icon>list_alt</mat-icon></button>
          </mat-grid-tile-header>
          <div class="department-container">
            <span class="department">Department: {{ item.department }}</span>
          </div>
          <mat-grid-tile-footer class="release-date"
            >Birthday: {{ item.birthday | date: 'longDate' }}
            <!-- Remove from list button here -->
            <button mat-icon-button (click)="removePersonFromCollection(item.id)"><mat-icon>block</mat-icon></button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </div>
      <div *ngIf="(personCollection$ | async)?.length === 0">
        <mat-grid-tile [colspan]="4">
          No people in your collection
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
