<div class="container">
  <app-carousel-slide
    *ngFor="let slide of slides"
    class="carousel-slide"
    [slide]="slide"
    (prev)="goToPrevious($event)"
    (next)="goToNext($event)"
    [@fade]="slide.id === currentSlide ? 'show' : 'hide'"
  ></app-carousel-slide>
  <app-carousel-navigation
    class="carousel-navigation"
    [slides]="slides"
    (goToSlide)="goToClick($event)"
  ></app-carousel-navigation>
  <!-- Get information for navigation from the service, no need to pass anything in here. -->
</div>
