:host {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-slide {
  flex: 1;
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.carousel-navigation {
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}
