<div class="container">
  <div class="content">
    <div class="text">
      <div>{{ overlay.content }}</div>
    </div>
    <div class="release-date">Release Date: {{ overlay.release_date | date: 'longDate' }}</div>
  </div>
  <div class="actions" *ngIf="overlay.actions"></div>
</div>
