:host {
  background-color: rgba(0, 0, 0, 0.35);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  flex: 1;
  width: 30%;
}

.release-date {
  flex: 1;
  max-height: 30px;
  line-height: 30px;
  text-align: left;
  margin-left: 20px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.text > div {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
