:host {
  position: fixed;
  z-index: 1;
  overflow: show;
  height: 4em;
  width: 4em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  & > mat-spinner.mat-spinner {
    margin: 0 auto;
    width: 100%;
  }
  & > div.loading {
    text-align: center;
    width: 100%;
    margin-left: 5px;
    color: #673ab7;
  }
  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
