<mat-card class="page">
  <mat-card-title>{{ (tv$ | async)?.name }} Details</mat-card-title>
  <mat-card-actions>
    <div class="backBtn-container">
      <button
        *ngIf="historyData && historyData.comingFrom === 'search'"
        class="backBtn"
        mat-raised-button
        (click)="back()"
      >
        Back to Search
      </button>
      <button *ngIf="!historyData" class="backBtn" mat-raised-button (click)="back()">
        Go to Search
      </button>
    </div>
    <app-collection-button [type]="'tv'" [id]="(tv$ | async)?.id"></app-collection-button>
  </mat-card-actions>
  <mat-card-content class="table">
    <div class="half">
      <div class="movie-poster">
        <h4>Poster</h4>
        <img *ngIf="posterImage$ | async" src="{{ posterImage$ | async }}" class="poster-image image" />
        <div *ngIf="!(posterImage$ | async)">No image found</div>
      </div>
      <div class="background-image">
        <h4>Background Image</h4>
        <img *ngIf="backgroundImage$ | async" src="{{ backgroundImage$ | async }}" class="bg-image image" />
        <div *ngIf="!(backgroundImage$ | async)">No image found</div>
      </div>
    </div>
    <div class="half">
      <div class="overview">
        <h4>Overview</h4>
        {{ (tv$ | async)?.overview }}
      </div>
      <div class="table">
        <div class="left">
          <div class="first-air-date">
            <h4>First Air Date</h4>
            {{ (tv$ | async)?.first_air_date | date: 'longDate' }}
          </div>
          <div class="last-air-date">
            <h4>Last Air Date</h4>
            {{ (tv$ | async)?.last_air_date | date: 'longDate' }}
          </div>
          <div class="genres">
            <h4>Genres</h4>
            <div class="table">
              <span *ngFor="let genre of (tv$ | async)?.genres">{{ genre.name }}</span>
            </div>
          </div>
          <div class="homepage">
            <h4>Home Page</h4>
            {{ (tv$ | async)?.homepage }}
          </div>
          <div class="number-of-episodes">
            <h4>Number of Episodes</h4>
            {{ (tv$ | async)?.number_of_episodes }}
          </div>
          <div class="number-of-seasons">
            <h4>Number of Seasons</h4>
            {{ (tv$ | async)?.number_of_seasons }}
          </div>
          <div class="popularity">
            <h4>Popularity</h4>
            {{ (tv$ | async)?.popularity }}
          </div>
        </div>
        <div class="right">
          <h4>Production Companies</h4>
          <div class="table">
            <mat-card *ngFor="let company of (tv$ | async)?.production_companies">
              <mat-card-title>{{ company.name }}</mat-card-title>
              <mat-card-content>
                <div class="origin-country">
                  <b>Country of Origin</b><br />
                  {{ company.origin_country ? company.origin_country : 'No country listed' }}
                </div>
                <div class="logo-path">
                  <b>Logo</b><br />
                  <img
                    *ngIf="company.logo_path !== null"
                    src="{{ getImageUrl(company.logo_path, configBaseURL$ | async) }}"
                    alt="{{ company.name }}"
                    class="logo"
                  />
                  <span *ngIf="company.logo_path === null">No Logo Listed</span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <h4>Networks</h4>
          <div class="table">
            <mat-card *ngFor="let net of (tv$ | async)?.networks">
              <mat-card-title>{{ net.name }}</mat-card-title>
              <mat-card-content>
                <div class="origin-country">
                  <b>Country of Origin</b><br />
                  {{ net.origin_country ? net.origin_country : 'No country listed' }}
                </div>
                <div class="logo-path">
                  <b>Logo</b><br />
                  <img
                    *ngIf="net.logo_path !== null"
                    src="{{ getImageUrl(net.logo_path, configBaseURL$ | async) }}"
                    alt="{{ net.name }}"
                    class="logo"
                  />
                  <span *ngIf="net.logo_path === null">No Logo Listed</span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
