@import "../../../../../assets/styles/variables";

mat-card.mat-card {
  margin-bottom: 10px;
}

.filters-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  @media ($desktop) {
    width: 30%;
  }
  margin: auto;
  & > mat-label {
    margin-bottom: 10px;
  }
  & > mat-radio-group.mat-radio-group > mat-radio-button.mat-radio-button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
