<form [formGroup]="formGroup" class="filters-form">
  <mat-label for="movieTV">Movie or TV?</mat-label>
  <mat-radio-group [formControlName]="'movieTV'" aria-label="Movie or TV">
    <mat-radio-button value="movie">Movie</mat-radio-button>
    <mat-radio-button value="tv">TV</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <mat-label for="query">Title</mat-label>
    <input matInput [formControlName]="'query'" />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="year">Release Year</mat-label>
    <mat-select [formControlName]="'year'" [compareWith]="compareFn">
      <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<mat-card-actions>
  <button mat-raised-button [color]="'primary'" (click)="submit()" cdkFocusInitial [disabled]="!formGroup.valid">
    Search
  </button>
</mat-card-actions>
