<div *ngIf="authed">
  <button *ngIf="!icon && !inCollection()" mat-raised-button [color]="'primary'" (click)="addToCollection($event)">
    Add to Collection
  </button>
  <button *ngIf="!icon && inCollection()" mat-raised-button [color]="'primary'" (click)="removeFromCollection($event)">
    Remove from Collection
  </button>
  <button
    *ngIf="icon && !inCollection()"
    mat-raised-button
    (click)="addToCollection($event)"
    matTooltip="Add {{ type }} to Collection"
  >
    <mat-icon>playlist_add</mat-icon>
  </button>
  <button
    *ngIf="icon && inCollection()"
    mat-raised-button
    (click)="removeFromCollection($event)"
    matTooltip="Remove {{ type }} from Collection"
  >
    <mat-icon>block</mat-icon>
  </button>
</div>
