.table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  & > .left {
    float: left;
  }

  & > .right {
    float: right;
  }
}

.half {
  padding: 20px;
  text-align: left;
}

.profile-path > h4,
.biography > h4,
.birthday > h4 {
  margin-top: 0px;
}

.profile-path,
.biography {
  float: left;
  width: 50%;
  height: 100%;
}

.biography {
  max-width: 400px;
}

.profile-image {
  max-height: 500px;
  text-align: center;
}

.logo {
  max-width: 130px;
  margin-top: 10px;
}

mat-card-actions.mat-card-actions > div {
  display: inline-block;
}

div.also-known-as > div {
  text-align: left;
}

.bio-text {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bio-text:hover {
  max-width: unset;
  white-space: normal;
  overflow: visible;
}

.cast-poster > img,
.crew-poster > img {
  max-width: 75px;
}

.backBtn-container {
  float: left;
  padding-left: 28px;
}
