<mat-card class="page">
  <mat-card-title>{{ (person$ | async)?.name }} Details</mat-card-title>
  <mat-card-actions>
    <div class="backBtn-container">
      <button
        *ngIf="historyData && historyData.comingFrom === 'search'"
        class="backBtn"
        mat-raised-button
        (click)="back()"
      >
        Back to Search
      </button>
      <button *ngIf="!historyData" class="backBtn" mat-raised-button (click)="back()">
        Go to Search
      </button>
    </div>
    <app-collection-button [type]="'person'" [id]="(person$ | async)?.id"></app-collection-button>
  </mat-card-actions>
  <mat-card-content class="table">
    <div class="half">
      <div class="profile-path">
        <h4>Profile Picture</h4>
        <img *ngIf="profileImage$ | async" src="{{ profileImage$ | async }}" class="profile-image image" />
        <div *ngIf="!(profileImage$ | async)">No image found</div>
      </div>
      <div class="biography">
        <h4>Biography</h4>
        <div class="bio-text">{{ (person$ | async)?.biography }}</div>
      </div>
    </div>
    <div class="half">
      <div class="table">
        <div class="left">
          <div class="birthday">
            <h4>Birthday</h4>
            {{ (person$ | async)?.birthday | date: 'longDate' }}
            <br />
            Where: {{ (person$ | async)?.place_of_birth }}
          </div>
          <div class="homepage">
            <h4>Home Page</h4>
            {{ (person$ | async)?.homepage ? (person$ | async)?.homepage : 'No Home Page' }}
          </div>
          <div class="also-known-as">
            <h4>Also Known As</h4>
            <div *ngFor="let name of (person$ | async)?.also_known_as">{{ name }}</div>
          </div>
          <div class="popularity">
            <h4>Popularity</h4>
            {{ (person$ | async)?.popularity }}
          </div>
        </div>
        <div class="right">
          <h4>Credits</h4>
          <div class="table">
            <ng-template ngFor let-credit [ngForOf]="(personCredits$ | async)?.cast" let-i="index">
              <mat-card *ngIf="i < 5">
                <mat-card-content>
                  <h4>{{ credit.title }}</h4>
                  <div class="cast-poster">
                    <img
                      *ngIf="credit.poster_path !== null"
                      src="{{ getImageUrl(credit.poster_path, configBaseURL$ | async) }}"
                      alt="{{ credit.title }}"
                      class="credit-image"
                    />
                    <span *ngIf="credit.poster_path === null">No Image Listed</span>
                  </div>
                  <div>Character: {{ credit.character }}</div>
                </mat-card-content>
              </mat-card>
            </ng-template>
            <div *ngIf="!(personCredits$ | async)?.cast">No cast credits found</div>
            <ng-template ngFor let-credit [ngForOf]="(personCredits$ | async)?.crew" let-i="index">
              <mat-card *ngIf="i < 5">
                <mat-card-content>
                  <h4>{{ credit.title }}</h4>
                  <div class="crew-poster">
                    <img
                      *ngIf="credit.poster_path !== null"
                      src="{{ getImageUrl(credit.poster_path, configBaseURL$ | async) }}"
                      alt="{{ credit.title }}"
                      class="credit-image"
                    />
                    <span *ngIf="credit.poster_path === null">No Image Listed</span>
                  </div>
                  <div>Department: {{ credit.department }}</div>
                </mat-card-content>
              </mat-card>
            </ng-template>
            <div *ngIf="!(personCredits$ | async)?.crew">No crew credits found</div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
