<div class="search-results">
  <!-- #directives Let it be noted that one cannot have multiple structural directives on the same element. -->
  <div *ngIf="(results$ | async)?.length > 0">
    <!-- #directives This table uses directives pretty extensively, multiTemplateDataRows for one -->
    <mat-table [dataSource]="results$ | async" class="mat-elevation-z0" multiTemplateDataRows>
      <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
        <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="column">
          <div *ngSwitchCase="'overview'" matTooltip="{{ element[column] }}" [matTooltipPosition]="'below'">
            {{ shortenString(element[column]) }}
          </div>
          <div *ngSwitchCase="'first_air_date'">
            {{ element[column] | date: 'longDate' }}
          </div>
          <div *ngSwitchCase="'release_date'">
            {{ element[column] | date: 'longDate' }}
          </div>
          <div *ngSwitchCase="'actions'">
            <app-collection-button [type]="'movie'" [icon]="true" [id]="element.id"></app-collection-button>
          </div>
          <div *ngSwitchDefault>
            {{ element[column] }}
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToDetails(row)"></mat-row>
    </mat-table>
    <mat-paginator [length]="(page$ | async)?.total_results" [pageSize]="20" (page)="paginate($event)"></mat-paginator>
  </div>
  <div *ngIf="(results$ | async)?.length <= 0">
    No results to display at this time...
  </div>
</div>
