@import "../../../assets/styles/variables";

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 20%;
  &.reg {
    display: block;
    grid-gap: unset;
    grid-template-columns: unset;
  }
}

.container > .page {
  width: 95%;
}

.container.reg > .page {
  width: 80%;
}

.mat-card-title,
.mat-card-content,
.mat-card-actions {
  padding-left: 5%;
  padding-right: 5%;
}

.mat-card-title {
  padding-top: 15px;
  padding-bottom: 40px;
}

.recent {
  margin: auto;
  margin-top: 50px;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.searchSection {
  min-height: 40px;
  line-height: 40px;
}

.searchSection > h5 {
  line-height: unset;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.searchSection.after {
  margin-top: 10px;
}

.mat-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}

.query {
  margin-right: 5px;
  margin-left: 5px;
}
