<div class="container" [ngClass]="authed ? '' : 'reg'">
  <mat-card class="page">
    <mat-card-title *ngIf="type === 'movie'">Search Movies & Films</mat-card-title>
    <mat-card-content *ngIf="type === 'movie'">
      <app-movie-filters></app-movie-filters>
      <mat-divider></mat-divider>
      <app-movie-results></app-movie-results>
    </mat-card-content>
    <mat-card-title *ngIf="type === 'person'">Search Cast & Crew</mat-card-title>
    <mat-card-content *ngIf="type === 'person'">
      <app-person-filters></app-person-filters>
      <mat-divider></mat-divider>
      <app-person-results></app-person-results>
    </mat-card-content>
  </mat-card>
  <mat-card class="recent" *ngIf="authed">
    <mat-card-content>
      <h3>Recent Searches</h3>
      <div class="searchSection" *ngIf="type === 'movie' && (movieRecent$ | async)?.length > 0">
        <h5>Movies</h5>
        <ng-template ngFor let-search [ngForOf]="movieRecent$ | async" let-i="index">
          <div *ngIf="i < 5">
            <button mat-stroked-button class="query" (click)="addRecentSearchQueryParams(search)">
              Search string: &#34;{{ search.params.query }}&#34;
            </button>
            <button
              mat-stroked-button
              class="query"
              (click)="removeRecentSearchQueryParam(search.id)"
              matTooltip="Remove this recent search?"
              [matTooltipPosition]="'below'"
            >
              <mat-icon>block</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
      <div class="searchSection" *ngIf="type === 'movie' && (movieRecent$ | async)?.length == 0">
        No Recent Movie Searches
      </div>
      <mat-divider *ngIf="type === 'movie'"></mat-divider>
      <div class="searchSection after" *ngIf="type === 'movie' && (tvRecent$ | async)?.length > 0">
        <h5>TV</h5>
        <ng-template ngFor let-search [ngForOf]="tvRecent$ | async" let-i="index">
          <div *ngIf="i < 5">
            <button mat-stroked-button class="query" (click)="addRecentSearchQueryParams(search)">
              Search string: &#34;{{ search.params.query }}&#34;
            </button>
            <button
              mat-stroked-button
              class="query"
              (click)="removeRecentSearchQueryParam(search.id)"
              matTooltip="Remove this recent search?"
              [matTooltipPosition]="'below'"
            >
              <mat-icon>block</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
      <div class="searchSection after" *ngIf="type === 'movie' && (tvRecent$ | async)?.length == 0">
        No Recent TV Searches
      </div>
      <div class="searchSection" *ngIf="type === 'person' && (personRecent$ | async)?.length > 0">
        <h5>People</h5>
        <ng-template ngFor let-search [ngForOf]="personRecent$ | async" let-i="index">
          <div *ngIf="i < 10">
            <button mat-stroked-button class="query" (click)="addRecentSearchQueryParams(search)">
              Search string: &#34;{{ search.params.query }}&#34;
            </button>
            <button
              mat-stroked-button
              class="query"
              (click)="removeRecentSearchQueryParam(search.id)"
              matTooltip="Remove this recent search?"
              [matTooltipPosition]="'below'"
            >
              <mat-icon>block</mat-icon>
            </button>
          </div>
        </ng-template>
      </div>
      <div class="searchSection" *ngIf="type === 'person' && (personRecent$ | async)?.length == 0">
        No Recent People Searches
      </div>
    </mat-card-content>
  </mat-card>
</div>
