<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <a class="header-title" *ngIf="!authed" [routerLink]="['/']">{{ title }}</a>
  <a class="header-title" *ngIf="authed" [routerLink]="['/dashboard']">{{ title }}</a>
  <span class="fill-remaining"></span>
  <mat-menu #searchMenu="matMenu">
    <ng-template matMenuContent>
      <button
        mat-menu-item
        *ngFor="let item of searchItems$ | async"
        (click)="item.callback()"
        aria-label="item.label"
        [innerHTML]="item.content"
      ></button>
    </ng-template>
  </mat-menu>
  <mat-menu #appMenu="matMenu">
    <ng-template matMenuContent>
      <button
        mat-menu-item
        *ngFor="let item of menuItems$ | async"
        (click)="item.callback()"
        aria-label="item.label"
        [innerHTML]="item.content"
      ></button>
    </ng-template>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
  <button mat-icon-button [matMenuTriggerFor]="searchMenu"><mat-icon>search</mat-icon></button>
</mat-toolbar>
<app-page-spinner [ngStyle]="{ display: (ps?.display$ | async) ? 'block' : 'none' }"></app-page-spinner>
<router-outlet></router-outlet>
