:host {
  min-height: calc(100vh - 16px);
  min-width: calc(100vw - 16px);
}

.fill-remaining {
  flex: 1 1 auto;
}

.user-btns {
  margin-left: 5px;
  margin-right: 5px;
}

.header-title,
.header-title:active,
.header-title:visited,
.header-title:hover {
  text-decoration: none;
  color: white;
}
