<div class="search-results">
  <div *ngIf="(results$ | async)?.length > 0">
    <mat-table [dataSource]="results$ | async" class="mat-elevation-z0" multiTemplateDataRows>
      <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{ column }}">
        <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="column">
          <div *ngSwitchCase="'known_for'" class="known-for">
            <div *ngFor="let movie of element[column]">{{ (movie.title ? movie.title : movie.name) | trim }}</div>
          </div>
          <div *ngSwitchCase="'actions'">
            <app-collection-button [type]="'person'" [icon]="true" [id]="element.id"></app-collection-button>
          </div>
          <div *ngSwitchDefault>
            {{ element[column] }}
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="goToDetails(row)"></mat-row>
    </mat-table>
    <mat-paginator [length]="(page$ | async)?.total_results" [pageSize]="20" (page)="paginate($event)"></mat-paginator>
  </div>
  <div *ngIf="(results$ | async)?.length <= 0">
    No results to display at this time...
  </div>
</div>
