mat-card.mat-card {
  margin-top: 10px;
}

.search-results {
  padding: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

mat-row.mat-row {
  cursor: pointer;
}

mat-row.mat-row:hover {
  background-color: #eee;
}

div.known-for > div {
  text-align: left;
}
